@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fff9fc;
  --foreground: #3d3740;

  --surface: #ffffff;
  --surface-soft: #fff1f7;

  --primary: #f3a8c7;
  --primary-soft: #fbd8e7;
  --primary-dark: #c85f8e;

  --lavender: #9879c4;
  --blue: #6ea9c4;
  --mint: #68ae8c;
  --yellow: #c5a33f;

  --border: #eadfe5;
  --muted: #7d737c;
}

.dark {
  --background: #24202a;
  --foreground: #f8eef4;

  --surface: #302936;
  --surface-soft: #3a3040;

  --primary: #e9a8c5;
  --primary-soft: #5a3f4d;
  --primary-dark: #f2bfd5;

  --lavender: #bca9dc;
  --blue: #a9d1e2;
  --mint: #a9d2bd;
  --yellow: #e8d18d;

  --border: #514653;
  --muted: #b9adb6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--surface);
  --color-surface-soft: var(--surface-soft);

  --color-primary: var(--primary);
  --color-primary-soft: var(--primary-soft);
  --color-primary-dark: var(--primary-dark);

  --color-lavender: var(--lavender);
  --color-blue: var(--blue);
  --color-mint: var(--mint);
  --color-yellow: var(--yellow);

  --color-border: var(--border);
  --color-muted: var(--muted);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
}